wsdl/evento_webservice_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.webservice.htwchur.ch" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://domain.hibernate.htwchur.ch/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service.webservice.htwchur.ch">
    <wsdl:documentation>EventoWebservice</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://domain.hibernate.htwchur.ch/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.webservice.htwchur.ch">
            <xs:import namespace="http://domain.hibernate.htwchur.ch/xsd"/>
            <xs:element name="listEventoStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoStatusFilter" nillable="true" type="ax22:EventoStatus"/>
                        <xs:element minOccurs="0" name="theEventoAnlassTypFilter" nillable="true" type="ax22:EventoAnlassTyp"/>
                        <xs:element minOccurs="0" name="theEventoAnlassTyp" nillable="true" type="ax22:EventoAnlassTyp"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoPersonenAnmeldung">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoPersonenAnmeldungFilter" nillable="true" type="ax22:EventoPersonenAnmeldung"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoPersonenAnmeldungResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoPersonenAnmeldung"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoPerson">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoPersonFilter" nillable="true" type="ax22:EventoPerson"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoPerson"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoDeleted">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoDeletedFilter" nillable="true" type="ax22:EventoDeleted"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoDeletedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoDeleted"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassTyp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoAnlassTypFilter" nillable="true" type="ax22:EventoAnlassTyp"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassTypResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoAnlassTyp"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassLeitungRolle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoAnlassLeitungRolleFilter" nillable="true" type="ax22:EventoAnlassLeitungRolle"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassLeitungRolleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoAnlassLeitungRolle"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassLeitung">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoAnlassLeitungFilter" nillable="true" type="ax22:EventoAnlassLeitung"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassLeitungResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoAnlassLeitung"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlass">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="theEventoAnlassFilter" nillable="true" type="ax22:EventoAnlass"/>
                        <xs:element minOccurs="0" name="theLimitationFilter2" nillable="true" type="ax22:EventoLimitationFilter2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listEventoAnlassResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:EventoAnlass"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.hibernate.htwchur.ch/xsd">
            <xs:complexType name="EventoStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="statusName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAnlassTyp">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassTypAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="anlassTypBez" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAnlassTyp" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoLimitationFilter1">
                <xs:sequence>
                    <xs:element minOccurs="0" name="theFromKey" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="theMaxResultsValue" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="theSortField" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="theToKey" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoLimitationFilter2">
                <xs:complexContent>
                    <xs:extension base="ax21:EventoLimitationFilter1">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="theFromDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="theToDate" nillable="true" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="EventoPersonenAnmeldung">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="iDAnmeldung" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="iDPAStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAnlass" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personenAnmeldungStatus" nillable="true" type="ax21:EventoStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="LFSKanton" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PGChefIDPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array_adressen" nillable="true" type="ax21:EventoAdresse"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array_personenGruppierung" nillable="true" type="ax21:EventoPersonenGruppierung"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array_personenanmeldungen" nillable="true" type="ax21:EventoPersonenAnmeldung"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idPersonStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personAdresse1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personAdresse2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="personAnrede" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personBriefanrede" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personFirma1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personFirma2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personFirmaIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personGebDatum" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="personKorrIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personLand" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personNachname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personOrt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personPlz" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personRechIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personSex" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personSourceKey" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="personTelefax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personTelefon1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personTelefon2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personTitel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personUnikat" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="personVorname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_AHVNr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_AkadTitel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_Beruf" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_Buergerort" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_Buergerorte" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_DebitorenNr" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_Funktion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_HatFoto" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="person_IDLFS_Gemeinde_vStdBeg" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_IDLFS_Land" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_IDLFS_Muttersprache" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_IDLFS_Schule" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_IDLFS_Zulassungsausweis" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_Korrespondenzsprache" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_MWSTNr" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="person_Matrikelnummer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_Mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_NurFuerGruppenbildung" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="person_URL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_Vorname2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_Zusatz1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="person_eMail2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personeMail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="personenStatus" nillable="true" type="ax21:EventoStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAdresse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="LFSKanton" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adrGueltigBis" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="adrGueltigVon" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="adrIDAdressArt" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="adrIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="adrKorrAdr" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="adrRechAdr" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="adr_Adresse1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Adresse2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Anrede" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Briefanrede" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_IntFax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Land" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Nachname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Ort" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_PLZ" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Telefon1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Telefon2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Titel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_URL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adr_Vorname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adressart" nillable="true" type="ax21:EventoAdressArt"/>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="iDAdresse" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAdressArt">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adrArtBez" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="iDAdressArt" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoPersonenGruppierung">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="iDPG" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="iDPGTyp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pGAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="pGChefIDPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="pGMitgliedIDPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="pG_GesVertretung" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoDeleted">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deletedAt" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="deletedBy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deletedIntKey1" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="deletedIntKey2" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="deletedIntKey3" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="deletedStringKey1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idDeleted" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idDeletedTyp" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAnlassLeitungRolle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassLtgRolleAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="anlassLtgRolleBezeichnung" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassLtgRolleBezeichnungKrz" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassLtgRolleBezeichnungSort" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAnlassLtgRolle" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAnlassLeitung">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassLeitungRolle" nillable="true" type="ax21:EventoAnlassLeitungRolle"/>
                    <xs:element minOccurs="0" name="anlassLtgIdAnlass" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlassLtgIdAnlassLtgRolle" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlassLtgIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlassLtgPerson" nillable="true" type="ax21:EventoPerson"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAnlassLtg" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAnlass">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassBezeichnung" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassDatumBis" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="anlassDatumVon" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="anlassKategorie" nillable="true" type="ax21:EventoAnlassKategorie"/>
                    <xs:element minOccurs="0" name="anlassLeitungIdPerson" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlassNummer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassStatus" nillable="true" type="ax21:EventoStatus"/>
                    <xs:element minOccurs="0" name="anlassTyp" nillable="true" type="ax21:EventoAnlassTyp"/>
                    <xs:element minOccurs="0" name="anlassVeranstalter" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassVorlage" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="anlass_ECTS" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="anlass_IDAnlassStudiengang" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlass_Modulart" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="anlass_NurFuerGruppenbildung" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="anlass_Veranstalter" nillable="true" type="ax21:EventoBenutzer"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array_EventoAnlassLeitung" nillable="true" type="ax21:EventoAnlassLeitung"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAnlass" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAnlassKategorie" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAnlassNiveau" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAnlassStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idAnlassTyp" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoAnlassKategorie">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="anlassKategorieAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="anlassKategorieBez" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idAnlassKategorie" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventoBenutzer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aenderung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="aenderungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="benutzerAktiv" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="benutzerArt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="benutzerIstVeranstalter" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="benutzerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="erfassung" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="erfassungVon" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idBenutzer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listEventoStatusRequest">
        <wsdl:part name="parameters" element="ns:listEventoStatus"/>
    </wsdl:message>
    <wsdl:message name="listEventoStatusResponse">
        <wsdl:part name="parameters" element="ns:listEventoStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoPersonenAnmeldungRequest">
        <wsdl:part name="parameters" element="ns:listEventoPersonenAnmeldung"/>
    </wsdl:message>
    <wsdl:message name="listEventoPersonenAnmeldungResponse">
        <wsdl:part name="parameters" element="ns:listEventoPersonenAnmeldungResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoPersonRequest">
        <wsdl:part name="parameters" element="ns:listEventoPerson"/>
    </wsdl:message>
    <wsdl:message name="listEventoPersonResponse">
        <wsdl:part name="parameters" element="ns:listEventoPersonResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassLeitungRequest">
        <wsdl:part name="parameters" element="ns:listEventoAnlassLeitung"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassLeitungResponse">
        <wsdl:part name="parameters" element="ns:listEventoAnlassLeitungResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoDeletedRequest">
        <wsdl:part name="parameters" element="ns:listEventoDeleted"/>
    </wsdl:message>
    <wsdl:message name="listEventoDeletedResponse">
        <wsdl:part name="parameters" element="ns:listEventoDeletedResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassRequest">
        <wsdl:part name="parameters" element="ns:listEventoAnlass"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassResponse">
        <wsdl:part name="parameters" element="ns:listEventoAnlassResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassTypRequest">
        <wsdl:part name="parameters" element="ns:listEventoAnlassTyp"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassTypResponse">
        <wsdl:part name="parameters" element="ns:listEventoAnlassTypResponse"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassLeitungRolleRequest">
        <wsdl:part name="parameters" element="ns:listEventoAnlassLeitungRolle"/>
    </wsdl:message>
    <wsdl:message name="listEventoAnlassLeitungRolleResponse">
        <wsdl:part name="parameters" element="ns:listEventoAnlassLeitungRolleResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventoWebservicePortType">
        <wsdl:operation name="listEventoStatus">
            <wsdl:input message="ns:listEventoStatusRequest" wsaw:Action="urn:listEventoStatus"/>
            <wsdl:output message="ns:listEventoStatusResponse" wsaw:Action="urn:listEventoStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoPersonenAnmeldung">
            <wsdl:input message="ns:listEventoPersonenAnmeldungRequest" wsaw:Action="urn:listEventoPersonenAnmeldung"/>
            <wsdl:output message="ns:listEventoPersonenAnmeldungResponse" wsaw:Action="urn:listEventoPersonenAnmeldungResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoPerson">
            <wsdl:input message="ns:listEventoPersonRequest" wsaw:Action="urn:listEventoPerson"/>
            <wsdl:output message="ns:listEventoPersonResponse" wsaw:Action="urn:listEventoPersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitung">
            <wsdl:input message="ns:listEventoAnlassLeitungRequest" wsaw:Action="urn:listEventoAnlassLeitung"/>
            <wsdl:output message="ns:listEventoAnlassLeitungResponse" wsaw:Action="urn:listEventoAnlassLeitungResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoDeleted">
            <wsdl:input message="ns:listEventoDeletedRequest" wsaw:Action="urn:listEventoDeleted"/>
            <wsdl:output message="ns:listEventoDeletedResponse" wsaw:Action="urn:listEventoDeletedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlass">
            <wsdl:input message="ns:listEventoAnlassRequest" wsaw:Action="urn:listEventoAnlass"/>
            <wsdl:output message="ns:listEventoAnlassResponse" wsaw:Action="urn:listEventoAnlassResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassTyp">
            <wsdl:input message="ns:listEventoAnlassTypRequest" wsaw:Action="urn:listEventoAnlassTyp"/>
            <wsdl:output message="ns:listEventoAnlassTypResponse" wsaw:Action="urn:listEventoAnlassTypResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitungRolle">
            <wsdl:input message="ns:listEventoAnlassLeitungRolleRequest" wsaw:Action="urn:listEventoAnlassLeitungRolle"/>
            <wsdl:output message="ns:listEventoAnlassLeitungRolleResponse" wsaw:Action="urn:listEventoAnlassLeitungRolleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventoWebserviceSoap11Binding" type="ns:EventoWebservicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listEventoStatus">
            <soap:operation soapAction="urn:listEventoStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPersonenAnmeldung">
            <soap:operation soapAction="urn:listEventoPersonenAnmeldung" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPerson">
            <soap:operation soapAction="urn:listEventoPerson" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitung">
            <soap:operation soapAction="urn:listEventoAnlassLeitung" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoDeleted">
            <soap:operation soapAction="urn:listEventoDeleted" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlass">
            <soap:operation soapAction="urn:listEventoAnlass" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassTyp">
            <soap:operation soapAction="urn:listEventoAnlassTyp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitungRolle">
            <soap:operation soapAction="urn:listEventoAnlassLeitungRolle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventoWebserviceSoap12Binding" type="ns:EventoWebservicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listEventoStatus">
            <soap12:operation soapAction="urn:listEventoStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPersonenAnmeldung">
            <soap12:operation soapAction="urn:listEventoPersonenAnmeldung" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPerson">
            <soap12:operation soapAction="urn:listEventoPerson" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitung">
            <soap12:operation soapAction="urn:listEventoAnlassLeitung" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoDeleted">
            <soap12:operation soapAction="urn:listEventoDeleted" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlass">
            <soap12:operation soapAction="urn:listEventoAnlass" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassTyp">
            <soap12:operation soapAction="urn:listEventoAnlassTyp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitungRolle">
            <soap12:operation soapAction="urn:listEventoAnlassLeitungRolle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventoWebserviceHttpBinding" type="ns:EventoWebservicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="listEventoStatus">
            <http:operation location="listEventoStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPersonenAnmeldung">
            <http:operation location="listEventoPersonenAnmeldung"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoPerson">
            <http:operation location="listEventoPerson"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitung">
            <http:operation location="listEventoAnlassLeitung"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoDeleted">
            <http:operation location="listEventoDeleted"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlass">
            <http:operation location="listEventoAnlass"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassTyp">
            <http:operation location="listEventoAnlassTyp"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listEventoAnlassLeitungRolle">
            <http:operation location="listEventoAnlassLeitungRolle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventoWebservice">
        <wsdl:port name="EventoWebserviceHttpSoap11Endpoint" binding="ns:EventoWebserviceSoap11Binding">
            <soap:address location="https://ws.fh-htwchur.ch/eventowsblc/services/EventoWebservice.EventoWebserviceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventoWebserviceHttpSoap12Endpoint" binding="ns:EventoWebserviceSoap12Binding">
            <soap12:address location="https://ws.fh-htwchur.ch/eventowsblc/services/EventoWebservice.EventoWebserviceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventoWebserviceHttpEndpoint" binding="ns:EventoWebserviceHttpBinding">
            <http:address location="https://ws.fh-htwchur.ch/eventowsblc/services/EventoWebservice.EventoWebserviceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
